week_2/Lab02 - Qui trình máy học cho dự đoán giá nhà \(Nhóm\)/code/nn_model.keras
week_2/Lab02 - Qui trình máy học cho dự đoán giá nhà \(Nhóm\)/code/sample_sub_dt.csv
week_2/Lab02 - Qui trình máy học cho dự đoán giá nhà \(Nhóm\)/code/sample_sub_nn.csv
week_2/Lab02 - Qui trình máy học cho dự đoán giá nhà \(Nhóm\)/code/sample_sub_xgb.csv
week_2/Lab02 - Qui trình máy học cho dự đoán giá nhà \(Nhóm\)/code/xgb_model.pkl
